{
    "arrowParens": "always",
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 2,
    "semi": true,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "endOfLine": "lf",
    "proseWrap": "preserve"
}
